<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NowPark</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <link rel="icon" href="static\images\logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Iceberg&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('main.home')}}">
                <img src="static\images\logo.png" alt="Logo" width="40" height="40"
                    class="d-inline-block align-text-top">
                NowPark
            </a>
        </div>
    </nav>
    <main class="flex-grow-1">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}



        {% endblock %}
    </main>
    <footer class=" text-white text-center p-3 ">
        © 2025 Parking App — All Rights Reserved
    </footer>


</body>

</html>